*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #0A2647;
    color: #ffffff; 
}
.titulo-blog{
    color: #87b7eb;
}

.texto-destaque{
    color: #4781ce
}

.urgente{
    color: #4781ce;
}

.apresentacao{
    flex-direction: column;
    gap: 10px;
    display: flex;
    align-items: center;
}